<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thea.admingreencheck3">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Add.AddFacultyActivity" />
        <activity android:name=".ViewIndiv.ViewFacultyActivity" />
        <activity android:name=".Add.AddEditFacultyActivity" />
        <activity android:name=".Add.AddEditCourseOffering" />
        <activity android:name=".View.CourseActivity" />
        <activity android:name=".Add.AddEditCourseActivity" />
        <activity android:name=".ViewIndiv.ViewCourseActivity" />
        <activity android:name=".View.BuildingActivity" />
        <activity android:name=".ViewIndiv.ViewBuildingActivity" />
        <activity android:name=".Add.AddEditBldgActivity" />
        <activity android:name=".Add.AddEditRoomActivity" />
        <activity android:name=".GenListActivity" />
        <activity android:name=".GenListAddTerm" />
        <activity android:name=".AddCOCourse" />
        <activity android:name=".AddCOFaculty" />
        <activity android:name=".AddCOTerm" />
        <activity android:name=".ViewIndiv.ViewRoomActivity" />
        <activity android:name=".View.TermActivity" />
        <activity android:name=".ViewIndiv.ViewAcademicYearActivity" />
        <activity android:name=".Add.AddEditAcademicYearActivity" />
        <activity android:name=".ViewIndiv.ViewTermActivity" />
        <activity android:name=".Add.AddEditTermActivity" />
        <activity android:name=".Add.AddEditCourseOffering" />
        <activity android:name=".AddCOTimePicker" />
        <activity android:name=".AddCORoom" />
        <activity android:name=".View.CourseOfferingActivity" />
        <activity android:name=".ViewIndiv.ViewCourseOfferingActivity" />
        <activity android:name=".Add.AddEditChecker" />
        <activity android:name=".View.CheckerActivity"></activity>

        <receiver android:name=".Receiver" />
    </application>

</manifest>